



<!--<input class="form-control form-control-lg" type="email" id="usuarioEmail" placeholder="Ingrése su Email" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}">-->

<div>
    <hr/>

        <button class="btn btn-sm btn-outline-primary me-2 m-1" (click)="selectToday()">Fecha actual</button>
        <button class="btn btn-sm btn-outline-primary me-2 m-1" (click)="dp.navigateTo()">Mes actual</button>
        <!--<button class="btn btn-sm btn-outline-primary me-2 m-1" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>-->
        
        <input id="inputFile" #fileImportInput class="file-input" type="file" accept=".csv" multiple (change)="uploadFiles($event)">
        <label for="inputFile" type="button" class="btn btn-outline-primary labelInputFile m-1"> <img src="https://icons-for-free.com/iconfiles/png/512/cloud+upload+file+storage+upload+icon-1320190558968694328.png" alt=""></label>

    <hr/>

    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

    

    <pre>Month: {{ date.month }}.{{ date.year }}</pre>
    <pre>Model: {{ model | json }}</pre>

</div>

 
<!--
<div class="dropzone" dropzone (hovered) = "toggleHover($event)" (dropped) = "onDrop($event)" >

    <div>
        <label for="file-label">
            <input class="file-input" type="file" (change)="onDrop($event.target.files)">
        </label>
    </div>

</div>


<h3>Uploads</h3>


<div *ngFor="let file of files">
    <upload-task [file]="file"></upload-task>
</div>

-->