
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/cerebro.svg" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <!--
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>-->
          <!--
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>
          -->
          <!-- Email input 
          <div class="form-outline mb-4">
            <input class="form-control form-control-lg" type="email" id="usuarioEmail" placeholder="Ingrése su Email" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}">

            <label class="form-label" for="form3Example3">Dirección Email</label>
          </div>-->

          <!-- Password input
          <div class="form-outline mb-3">
            <input class="form-control form-control-lg" type="password" placeholder="Escriba su contraseña" [(ngModel)] = "usuario.password" [ngModelOptions]="{standalone: true}">
            <label class="form-label" for="form3Example4">Contraseña</label>
          </div> -->

          <!--<div class="d-flex justify-content-between align-items-center">
             //Checkbox
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label> 
            </div> 
            <a href="#!" class="text-body">Forgot password?</a>
          </div>-->

          <div class="text-center text-lg-start mt-4 pt-2">
            <!--
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="Ingresar()">Ingresar</button>
            -->
            <button type="button" class="btn btn-danger btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="IngresarConGoogle()">Ingresar con Google</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a href="#!"
                class="link-danger">Registtrate</a></p>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <!--<button type="button" class="btn btn-info btn-block m-2" (click)="getLogedUser()">Usuario logeado</button>

            <button type="button" class="btn btn-info btn-block m-2" (click)="logout()">Logout</button>-->
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022 Cerebro SM
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>