body {
    margin: 0;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 21.3851761847%;
    left: 64.5161290323%;
    font-size: 23px;
    filter: blur(0.02px);
    animation: 29s float infinite;
  }
  .particle:nth-child(2) {
    top: 67.0716889429%;
    left: 31.2805474096%;
    font-size: 23px;
    filter: blur(0.04px);
    animation: 37s float infinite;
  }
  .particle:nth-child(3) {
    top: 24.6002460025%;
    left: 75.0246791708%;
    font-size: 13px;
    filter: blur(0.06px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(4) {
    top: 35.0364963504%;
    left: 62.6223091977%;
    font-size: 22px;
    filter: blur(0.08px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(5) {
    top: 40.7272727273%;
    left: 82.9268292683%;
    font-size: 25px;
    filter: blur(0.1px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(6) {
    top: 53.3980582524%;
    left: 51.7578125%;
    font-size: 24px;
    filter: blur(0.12px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(7) {
    top: 74.3276283619%;
    left: 82.5147347741%;
    font-size: 18px;
    filter: blur(0.14px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(8) {
    top: 41.226993865%;
    left: 73.8916256158%;
    font-size: 15px;
    filter: blur(0.16px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(9) {
    top: 71.0234278668%;
    left: 74.1839762611%;
    font-size: 11px;
    filter: blur(0.18px);
    animation: 30s float infinite;
  }
  .particle:nth-child(10) {
    top: 80%;
    left: 2.9126213592%;
    font-size: 30px;
    filter: blur(0.2px);
    animation: 25s float2 infinite;
  }
  .particle:nth-child(11) {
    top: 6.7469879518%;
    left: 64.0776699029%;
    font-size: 30px;
    filter: blur(0.22px);
    animation: 26s float infinite;
  }
  .particle:nth-child(12) {
    top: 63.3373934227%;
    left: 86.1900097943%;
    font-size: 21px;
    filter: blur(0.24px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(13) {
    top: 33.04981774%;
    left: 10.752688172%;
    font-size: 23px;
    filter: blur(0.26px);
    animation: 28s floatReverse infinite;
  }
  .particle:nth-child(14) {
    top: 93.4809348093%;
    left: 13.8203356367%;
    font-size: 13px;
    filter: blur(0.28px);
    animation: 33s float infinite;
  }
  .particle:nth-child(15) {
    top: 91.5662650602%;
    left: 34.9514563107%;
    font-size: 30px;
    filter: blur(0.3px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(16) {
    top: 23.1884057971%;
    left: 92.4124513619%;
    font-size: 28px;
    filter: blur(0.32px);
    animation: 35s float infinite;
  }
  .particle:nth-child(17) {
    top: 67.7966101695%;
    left: 14.6198830409%;
    font-size: 26px;
    filter: blur(0.34px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(18) {
    top: 4.914004914%;
    left: 62.1301775148%;
    font-size: 14px;
    filter: blur(0.36px);
    animation: 30s float infinite;
  }
  .particle:nth-child(19) {
    top: 94.5717732207%;
    left: 34.9854227405%;
    font-size: 29px;
    filter: blur(0.38px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(20) {
    top: 91.8984280532%;
    left: 75.9493670886%;
    font-size: 27px;
    filter: blur(0.4px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(21) {
    top: 85.8199753391%;
    left: 97.9228486647%;
    font-size: 11px;
    filter: blur(0.42px);
    animation: 21s float infinite;
  }
  .particle:nth-child(22) {
    top: 13.8101109741%;
    left: 69.2383778437%;
    font-size: 11px;
    filter: blur(0.44px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(23) {
    top: 12.6984126984%;
    left: 75.5642787046%;
    font-size: 19px;
    filter: blur(0.46px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(24) {
    top: 87.684729064%;
    left: 97.8260869565%;
    font-size: 12px;
    filter: blur(0.48px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(25) {
    top: 44.9877750611%;
    left: 32.416502947%;
    font-size: 18px;
    filter: blur(0.5px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(26) {
    top: 37.7267230955%;
    left: 95.423563778%;
    font-size: 27px;
    filter: blur(0.52px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(27) {
    top: 59.6577017115%;
    left: 93.3202357564%;
    font-size: 18px;
    filter: blur(0.54px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(28) {
    top: 73.2530120482%;
    left: 34.9514563107%;
    font-size: 30px;
    filter: blur(0.56px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(29) {
    top: 98.0392156863%;
    left: 32.4803149606%;
    font-size: 16px;
    filter: blur(0.58px);
    animation: 22s floatReverse2 infinite;
  }
  .particle:nth-child(30) {
    top: 24.3605359318%;
    left: 49.9510284035%;
    font-size: 21px;
    filter: blur(0.6px);
    animation: 35s float infinite;
  }
  .particle:nth-child(31) {
    top: 78.3555018138%;
    left: 86.6601752678%;
    font-size: 27px;
    filter: blur(0.62px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(32) {
    top: 1.9323671498%;
    left: 5.8365758755%;
    font-size: 28px;
    filter: blur(0.64px);
    animation: 31s float infinite;
  }
  .particle:nth-child(33) {
    top: 70.8487084871%;
    left: 2.9615004936%;
    font-size: 13px;
    filter: blur(0.66px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(34) {
    top: 31.067961165%;
    left: 29.296875%;
    font-size: 24px;
    filter: blur(0.68px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(35) {
    top: 85.0241545894%;
    left: 2.9182879377%;
    font-size: 28px;
    filter: blur(0.7px);
    animation: 27s float infinite;
  }
  .particle:nth-child(36) {
    top: 0.9732360097%;
    left: 39.1389432485%;
    font-size: 22px;
    filter: blur(0.72px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(37) {
    top: 60.5616605617%;
    left: 62.806673209%;
    font-size: 19px;
    filter: blur(0.74px);
    animation: 23s floatReverse infinite;
  }
  .particle:nth-child(38) {
    top: 55.1724137931%;
    left: 77.0750988142%;
    font-size: 12px;
    filter: blur(0.76px);
    animation: 27s float infinite;
  }
  .particle:nth-child(39) {
    top: 59.0799031477%;
    left: 85.7699805068%;
    font-size: 26px;
    filter: blur(0.78px);
    animation: 34s float infinite;
  }
  .particle:nth-child(40) {
    top: 38.7409200969%;
    left: 75.0487329435%;
    font-size: 26px;
    filter: blur(0.8px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(41) {
    top: 19.536019536%;
    left: 1.9627085378%;
    font-size: 19px;
    filter: blur(0.82px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(42) {
    top: 29.9516908213%;
    left: 33.0739299611%;
    font-size: 28px;
    filter: blur(0.84px);
    animation: 32s floatReverse infinite;
  }
  .particle:nth-child(43) {
    top: 81.4545454545%;
    left: 12.6829268293%;
    font-size: 25px;
    filter: blur(0.86px);
    animation: 37s float infinite;
  }
  .particle:nth-child(44) {
    top: 75.9556103576%;
    left: 91.9881305638%;
    font-size: 11px;
    filter: blur(0.88px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(45) {
    top: 90.7117008444%;
    left: 10.6899902818%;
    font-size: 29px;
    filter: blur(0.9px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(46) {
    top: 81.8742293465%;
    left: 89.0207715134%;
    font-size: 11px;
    filter: blur(0.92px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(47) {
    top: 50.3631961259%;
    left: 41.910331384%;
    font-size: 26px;
    filter: blur(0.94px);
    animation: 34s float infinite;
  }
  .particle:nth-child(48) {
    top: 1.9464720195%;
    left: 40.1174168297%;
    font-size: 22px;
    filter: blur(0.96px);
    animation: 25s float infinite;
  }
  .particle:nth-child(49) {
    top: 7.8527607362%;
    left: 97.5369458128%;
    font-size: 15px;
    filter: blur(0.98px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(50) {
    top: 84.6248462485%;
    left: 65.1530108588%;
    font-size: 13px;
    filter: blur(1px);
    animation: 21s float infinite;
  }
  .particle:nth-child(51) {
    top: 58.3941605839%;
    left: 90.0195694716%;
    font-size: 22px;
    filter: blur(1.02px);
    animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(52) {
    top: 89.4289185905%;
    left: 43.0107526882%;
    font-size: 23px;
    filter: blur(1.04px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(53) {
    top: 97.205346294%;
    left: 80.156402737%;
    font-size: 23px;
    filter: blur(1.06px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(54) {
    top: 68.932038835%;
    left: 41.015625%;
    font-size: 24px;
    filter: blur(1.08px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(55) {
    top: 85.7831325301%;
    left: 29.1262135922%;
    font-size: 30px;
    filter: blur(1.1px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(56) {
    top: 95.0303030303%;
    left: 64.3902439024%;
    font-size: 25px;
    filter: blur(1.12px);
    animation: 35s float infinite;
  }
  .particle:nth-child(57) {
    top: 60.7099143207%;
    left: 18.6823992134%;
    font-size: 17px;
    filter: blur(1.14px);
    animation: 33s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 80.8877928483%;
    left: 22.7497527201%;
    font-size: 11px;
    filter: blur(1.16px);
    animation: 26s float infinite;
  }
  .particle:nth-child(59) {
    top: 57.8431372549%;
    left: 56.1023622047%;
    font-size: 16px;
    filter: blur(1.18px);
    animation: 36s floatReverse infinite;
  }
  .particle:nth-child(60) {
    top: 79.4188861985%;
    left: 41.910331384%;
    font-size: 26px;
    filter: blur(1.2px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(61) {
    top: 60.9336609337%;
    left: 29.5857988166%;
    font-size: 14px;
    filter: blur(1.22px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(62) {
    top: 22.3300970874%;
    left: 70.3125%;
    font-size: 24px;
    filter: blur(1.24px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(63) {
    top: 70.7616707617%;
    left: 56.2130177515%;
    font-size: 14px;
    filter: blur(1.26px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(64) {
    top: 12.7139364303%;
    left: 4.9115913556%;
    font-size: 18px;
    filter: blur(1.28px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(65) {
    top: 51.2315270936%;
    left: 48.418972332%;
    font-size: 12px;
    filter: blur(1.3px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(66) {
    top: 71.0462287105%;
    left: 28.3757338552%;
    font-size: 22px;
    filter: blur(1.32px);
    animation: 22s floatReverse2 infinite;
  }
  .particle:nth-child(67) {
    top: 49.6350364964%;
    left: 15.6555772994%;
    font-size: 22px;
    filter: blur(1.34px);
    animation: 32s float infinite;
  }
  .particle:nth-child(68) {
    top: 44.3349753695%;
    left: 19.7628458498%;
    font-size: 12px;
    filter: blur(1.36px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(69) {
    top: 86.5928659287%;
    left: 40.473840079%;
    font-size: 13px;
    filter: blur(1.38px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(70) {
    top: 49.8168498168%;
    left: 34.3473994112%;
    font-size: 19px;
    filter: blur(1.4px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(71) {
    top: 34.0632603406%;
    left: 79.2563600783%;
    font-size: 22px;
    filter: blur(1.42px);
    animation: 29s float2 infinite;
  }
  .particle:nth-child(72) {
    top: 37.9100850547%;
    left: 83.0889540567%;
    font-size: 23px;
    filter: blur(1.44px);
    animation: 21s float infinite;
  }
  .particle:nth-child(73) {
    top: 38.5542168675%;
    left: 57.2815533981%;
    font-size: 30px;
    filter: blur(1.46px);
    animation: 22s float infinite;
  }
  .particle:nth-child(74) {
    top: 43.6363636364%;
    left: 22.4390243902%;
    font-size: 25px;
    filter: blur(1.48px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(75) {
    top: 91.8984280532%;
    left: 81.7916260954%;
    font-size: 27px;
    filter: blur(1.5px);
    animation: 32s floatReverse infinite;
  }
  .particle:nth-child(76) {
    top: 77.4818401937%;
    left: 89.6686159844%;
    font-size: 26px;
    filter: blur(1.52px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(77) {
    top: 0.9732360097%;
    left: 84.1487279843%;
    font-size: 22px;
    filter: blur(1.54px);
    animation: 32s float infinite;
  }
  .particle:nth-child(78) {
    top: 82.7250608273%;
    left: 69.4716242661%;
    font-size: 22px;
    filter: blur(1.56px);
    animation: 27s float infinite;
  }
  .particle:nth-child(79) {
    top: 93.5960591133%;
    left: 24.7035573123%;
    font-size: 12px;
    filter: blur(1.58px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(80) {
    top: 89.1041162228%;
    left: 95.5165692008%;
    font-size: 26px;
    filter: blur(1.6px);
    animation: 39s floatReverse infinite;
  }
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }